---
// Components
import { Image } from "astro:assets";
import { Content, Socials } from "@/components/shared";
import MenuButton from "@/components/shared/menu/MenuButton";

// Images
import logo from "@/assets/images/logos/jj-logo-secondary.png";

// Data
import { links } from "@/data/links";

const linksPrimary = links.slice(1, 4);
const linksSecondary = links.slice(4);

const { className = "", isSkeleton = false } = Astro.props as {
  className: string;
  isSkeleton: boolean;
};
---

{
  // SKELETON
  isSkeleton ? (
    <header class={`bg-primary py-4 ${className}`} aria-hidden>
      <Content>
        <div class="flex flex-1 lg:justify-center">
          <Image
            class="h-[60px] w-auto self-center"
            src={logo}
            alt="JJ Rupp Logo"
            loading="eager"
          />
        </div>
      </Content>
    </header>
  ) : (
    // HEADER
    <header class={`bg-primary overflow-hidden py-4 opacity-90 ${className}`}>
      <Content>
        <nav class="text-secondary flex items-center justify-between">
          <div class="flex flex-1">
            <a href="/" class="button-animation">
              <Image
                class="h-[60px] w-auto self-center"
                src={logo}
                alt="JJ Rupp Logo"
                loading="eager"
              />
            </a>
          </div>

          <ul class="hidden flex-1 gap-8 md:flex">
            {links.map((link) => (
              <li class="button-animation hover:opacity-80">
                <a
                  class="nav-text link-light group relative uppercase"
                  href={link.href}
                >
                  {/* <span class="bg-secondary absolute bottom-0 left-0 h-0.5 w-0 transition-all duration-300 group-hover:w-full" /> */}
                  {link.display}
                </a>
              </li>
            ))}
          </ul>

          {/* <div class="hidden flex-1 justify-end md:flex">
            <Socials />
          </div> */}
          {/* <ul class="hidden flex-1 justify-end gap-8 md:flex">
            {linksSecondary.map((link) => (
              <li class="list-none">
                <a class="nav-text" href={link.href}>
                  {link.display}
                </a>
              </li>
            ))}
          </ul> */}

          <div class="flex flex-1 justify-end md:hidden">
            <MenuButton client:load />
          </div>
        </nav>
      </Content>
    </header>
  )
}
