---
// Components
import Layout from "../layouts/Layout.astro";
import { SubpageContent, Section, Content } from "@/components/shared";
import { Image } from "astro:assets";

// Images
import backgroundImage from "@/assets/images/artist/jjrupp-guitar.jpg";

// Data
import { seo } from "@/data/seo";
import { releases } from "@/data/releases";
---

<Layout seo={seo.music}>
  <SubpageContent src={backgroundImage}>
    <Section>
      <Content>
        <h1 class="heading-2 mb-16">Music</h1>
        <ul class="xs:grid-cols-2 grid grid-cols-1 gap-12">
          {
            releases.map((release, key) => (
              <li>
                <div class="aspect-square bg-white/50 p-4">
                  <Image
                    src={release.image.src}
                    alt={release.image.alt}
                    class="aspect-square w-full"
                  />
                </div>
                <div>
                  <h2 class="heading-4">{release.name}</h2>
                  <p class="body-base">{release.releaseDate.getFullYear()}</p>
                </div>
              </li>
            ))
          }
        </ul>
      </Content>
    </Section>
  </SubpageContent>
</Layout>
