---
// Components
import Layout from "../layouts/Layout.astro";
import { SubpageContent, Section, Content } from "@/components/shared";

// Images
import backgroundImage from "@/assets/images/artist/jjrupp-guitar.jpg";

// Data
import { seo } from "@/data/seo";
import { releases } from "@/data/releases";
---

<Layout seo={seo.music}>
  <SubpageContent src={backgroundImage}>
    <Section>
      <Content>
        <h1 class="heading-2 mb-16">Music</h1>
        <ul class="grid grid-cols-1 gap-4 sm:grid-cols-2">
          {
            releases.map((release, key) => (
              <li>
                <div class="bg-primary aspect-square">
                  <img src={release.image.src} alt={release.image.alt} />
                </div>
                <div>
                  <h2 class="heading-4">{release.name}</h2>
                  <p class="body-base">{release.releaseDate.getFullYear()}</p>
                </div>
              </li>
            ))
          }
        </ul>
      </Content>
    </Section>
  </SubpageContent>
</Layout>
