---
// Components
import Layout from "../layouts/Layout.astro";
import { SubpageContent, Section, Content } from "@/components/shared";
import { Image } from "astro:assets";

// Images
import backgroundImage from "@/assets/images/subpage/music/jj-rupp-guitar-bw-3.png";

// Data
import { seo } from "@/data/seo";
import { releases } from "@/data/releases";
---

<Layout seo={seo.music}>
  <SubpageContent src={backgroundImage}>
    <Section>
      <Content>
        <h1 class="heading-2 mb-16">Music</h1>
        <ul class="xs:grid-cols-2 grid grid-cols-1 gap-16">
          {
            releases.map((release, key) => (
              <li class="flex flex-col gap-4">
                <a
                  href={release.listenLink}
                  class="group relative aspect-square transition-all duration-300 select-none hover:shadow-2xl"
                  aria-label={`Listen to ${release.name}`}
                >
                  <div class="from-secondary via-tertiary to-primary hover:border-secondary absolute inset-0 h-full w-full bg-gradient-to-br opacity-0 transition-colors duration-300 group-hover:opacity-95 group-hover:backdrop-blur-3xl hover:border-4" />
                  <Image
                    src={release.image.src}
                    alt={release.image.alt}
                    class="aspect-square w-full"
                  />
                  <p class="text-secondary font-heading absolute right-2 bottom-2 opacity-0 transition-all duration-300 group-hover:opacity-100">
                    Listen Now
                  </p>
                </a>
                <div>
                  <h2 class="heading-4">{release.name}</h2>
                  <p class="body-base">{release.releaseDate.getFullYear()}</p>
                </div>
              </li>
            ))
          }
        </ul>
      </Content>
    </Section>
  </SubpageContent>
</Layout>
