---
// Components
import { Image } from "astro:assets";
import { Link } from "@/components/shared";

// Data
import { releases } from "@/data/releases";
const release = releases[0];

const { className } = Astro.props as { className: string };
---

<div
  class={`p-4 bg-white/30 ${className} -rotate-1 shadow-2xl h-fit w-fit m-4`}
>
  <div
    class="border-primary flex flex-col items-center gap-8 border-2 p-8 text-center"
  >
    <h2 class="heading-2 font-heading">
      {release.name}
    </h2>
    <Image
      class="aspect-square w-[250px]"
      src={release.image.src}
      alt={release.image.alt}
      width={300}
      loading={"lazy"}
    />
    <p class="font-heading heading-4">Available Now</p>
    <Link
      href={release.listenLink}
      aria-label="Listen to the latest JJ Rupp release">Listen Now</Link
    >
  </div>
</div>
